Repository nf-core/modules: changes, and which pre-commit hooks are due for each by the changed paths.
All: conda-env-sorter, nextflow-lint

conda-env-sorter:
  name: Sort dependencies in conda environment files.
  entry: ./.github/scripts/conda_env_sorter.py
  language: python
  additional_dependencies:
  - ruamel.yaml

nextflow-lint:
  name: Lint Nextflow scripts and fix formatting
  entry: nextflow lint
  language: system
  args:
  - -sort-declarations
  - -spaces
  - '4'
  - -harshil-alignment
  - -output
  - concise
  pass_filenames: true
  require_serial: true

refactoring questionable setup
  modules/nf-core/mmseqs/createtsv/tests/main.nf.test
  modules/nf-core/mmseqs/createtsv/tests/main.nf.test.snap
Due: none

Update snapshot
  modules/nf-core/entrezdirect/xtract/tests/main.nf.test.snap
Due: none

Apply suggestion from @maxulysse
  subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/main.nf
Due: nextflow-lint

reinclduing evangolos fndsjklfndsklf sd. comments
  modules/nf-core/mmseqs/createdb/meta.yml
  modules/nf-core/mmseqs/createtsv/meta.yml
  modules/nf-core/mmseqs/easycluster/meta.yml
  modules/nf-core/mmseqs/easysearch/meta.yml
Due: none

convert controlfreec to versions topics
  modules/nf-core/controlfreec/assesssignificance/main.nf
  modules/nf-core/controlfreec/assesssignificance/tests/main.nf.test
  modules/nf-core/controlfreec/assesssignificance/tests/main.nf.test.snap
Due: nextflow-lint

convert msisensor2 to versions topic
  modules/nf-core/msisensor2/msi/main.nf
Due: nextflow-lint

meta.yml
  modules/nf-core/controlfreec/assesssignificance/meta.yml
Due: none

feat: Add FASTQ input test for QUANTIFY_RSEM subworkflow
  subworkflows/nf-core/quantify_rsem/tests/main.nf.test
  subworkflows/nf-core/quantify_rsem/tests/main.nf.test.snap
  subworkflows/nf-core/quantify_rsem/tests/nextflow_fastq.config
Due: none

better snapshot
  modules/nf-core/msisensor2/msi/main.nf
  modules/nf-core/msisensor2/msi/tests/main.nf.test
  modules/nf-core/msisensor2/msi/tests/main.nf.test.snap
Due: nextflow-lint

fix linting
  modules/nf-core/msisensor2/msi/main.nf
  modules/nf-core/msisensor2/msi/meta.yml
Due: nextflow-lint

better test
  modules/nf-core/controlfreec/assesssignificance/tests/main.nf.test
  modules/nf-core/controlfreec/assesssignificance/tests/main.nf.test.snap
Due: none

fix: Add missing sentieon/rsemcalculateexpression tag to quantify_rsem test
  subworkflows/nf-core/quantify_rsem/tests/main.nf.test
Due: none

do not include these changes
  modules/nf-core/controlfreec/assesssignificance/main.nf
  modules/nf-core/controlfreec/assesssignificance/tests/main.nf.test
  modules/nf-core/controlfreec/assesssignificance/tests/main.nf.test.snap
Due: nextflow-lint

Apply suggestions from code review
  modules/nf-core/msisensor2/msi/tests/main.nf.test.snap
Due: none

Broadcast to versions topic
  modules/nf-core/lima/main.nf
  modules/nf-core/lima/meta.yml
  modules/nf-core/lima/tests/main.nf.test
  modules/nf-core/lima/tests/main.nf.test.snap
Due: nextflow-lint

convert msisensor2 to versions topics (#10000)
  modules/nf-core/msisensor2/msi/main.nf
  modules/nf-core/msisensor2/msi/meta.yml
  modules/nf-core/msisensor2/msi/tests/main.nf.test
  modules/nf-core/msisensor2/msi/tests/main.nf.test.snap
Due: nextflow-lint

New module: cosimflow for cosine similarity
  modules/nf-core/cosimflow/environment.yml
  modules/nf-core/cosimflow/main.nf
  modules/nf-core/cosimflow/meta.yml
  modules/nf-core/cosimflow/tests/main.nf.test
Due: conda-env-sorter, nextflow-lint

all controlfreec
  modules/nf-core/controlfreec/assesssignificance/tests/main.nf.test
  modules/nf-core/controlfreec/assesssignificance/tests/main.nf.test.snap
  modules/nf-core/controlfreec/freec/main.nf
  modules/nf-core/controlfreec/freec/meta.yml
  modules/nf-core/controlfreec/freec/tests/main.nf.test
  modules/nf-core/controlfreec/freec/tests/main.nf.test.snap
  modules/nf-core/controlfreec/freec2bed/main.nf
  modules/nf-core/controlfreec/freec2bed/meta.yml
  modules/nf-core/controlfreec/freec2bed/tests/main.nf.test
  modules/nf-core/controlfreec/freec2bed/tests/main.nf.test.snap
  modules/nf-core/controlfreec/freec2circos/main.nf
  modules/nf-core/controlfreec/freec2circos/meta.yml
  modules/nf-core/controlfreec/freec2circos/tests/main.nf.test
  modules/nf-core/controlfreec/freec2circos/tests/main.nf.test.snap
  modules/nf-core/controlfreec/makegraph/main.nf
  modules/nf-core/controlfreec/makegraph/meta.yml
  modules/nf-core/controlfreec/makegraph/tests/main.nf.test
  modules/nf-core/controlfreec/makegraph/tests/main.nf.test.snap
  modules/nf-core/controlfreec/makegraph2/main.nf
  modules/nf-core/controlfreec/makegraph2/meta.yml
  modules/nf-core/controlfreec/makegraph2/tests/main.nf.test
  modules/nf-core/controlfreec/makegraph2/tests/main.nf.test.snap
Due: nextflow-lint

fix: Align quantify_rsem emits with quantify_pseudo_alignment
  subworkflows/nf-core/quantify_rsem/main.nf
  subworkflows/nf-core/quantify_rsem/meta.yml
  subworkflows/nf-core/quantify_rsem/tests/main.nf.test
  subworkflows/nf-core/quantify_rsem/tests/main.nf.test.snap
Due: nextflow-lint

update snap
  subworkflows/nf-core/quantify_rsem/tests/main.nf.test.snap
Due: none

code polish
  modules/nf-core/controlfreec/freec/tests/main.nf.test
  modules/nf-core/controlfreec/freec2bed/tests/main.nf.test
  modules/nf-core/controlfreec/freec2circos/tests/main.nf.test
  modules/nf-core/controlfreec/makegraph/tests/main.nf.test
  modules/nf-core/controlfreec/makegraph2/tests/main.nf.test
Due: none

style: Clean up emit section comments
  subworkflows/nf-core/quantify_rsem/main.nf
Due: nextflow-lint

Added maf_bw output
  modules/nf-core/sawfish/jointcall/main.nf
  modules/nf-core/sawfish/jointcall/meta.yml
Due: nextflow-lint

Moved versions to topic channel
  modules/nf-core/sawfish/jointcall/main.nf
Due: nextflow-lint

upgrading versions to topics
  modules/nf-core/rtgtools/bndeval/main.nf
  modules/nf-core/rtgtools/bndeval/meta.yml
  modules/nf-core/rtgtools/bndeval/tests/main.nf.test.snap
  modules/nf-core/rtgtools/format/main.nf
  modules/nf-core/rtgtools/format/meta.yml
  modules/nf-core/rtgtools/format/tests/main.nf.test
  modules/nf-core/rtgtools/format/tests/main.nf.test.snap
  modules/nf-core/rtgtools/pedfilter/main.nf
  modules/nf-core/rtgtools/pedfilter/meta.yml
  modules/nf-core/rtgtools/pedfilter/tests/main.nf.test.snap
  modules/nf-core/rtgtools/rocplot/main.nf
  modules/nf-core/rtgtools/rocplot/meta.yml
  modules/nf-core/rtgtools/rocplot/tests/main.nf.test
  modules/nf-core/rtgtools/rocplot/tests/main.nf.test.snap
  modules/nf-core/rtgtools/svdecompose/main.nf
  modules/nf-core/rtgtools/svdecompose/meta.yml
  modules/nf-core/rtgtools/svdecompose/tests/main.nf.test.snap
  modules/nf-core/rtgtools/vcfeval/main.nf
  modules/nf-core/rtgtools/vcfeval/meta.yml
  modules/nf-core/rtgtools/vcfeval/tests/main.nf.test.snap
Due: nextflow-lint

Updated meta
  modules/nf-core/sawfish/jointcall/meta.yml
Due: none

Updated tests
  modules/nf-core/sawfish/jointcall/tests/main.nf.test
  modules/nf-core/sawfish/jointcall/tests/main.nf.test.snap
  modules/nf-core/sawfish/jointcall/tests/sawfish_jointcall.config
Due: none

Broadcast LIMA to versions topic (#10001)
  modules/nf-core/lima/main.nf
  modules/nf-core/lima/meta.yml
  modules/nf-core/lima/tests/main.nf.test
  modules/nf-core/lima/tests/main.nf.test.snap
Due: nextflow-lint

Swap mgikit to topic (#9979)
  modules/nf-core/mgikit/demultiplex/main.nf
  modules/nf-core/mgikit/demultiplex/meta.yml
  modules/nf-core/mgikit/demultiplex/tests/main.nf.test
  modules/nf-core/mgikit/demultiplex/tests/main.nf.test.snap
Due: nextflow-lint

Demuxem fix environment
  modules/nf-core/demuxem/environment.yml
Due: conda-env-sorter

topics for pear
  modules/nf-core/pear/main.nf
  modules/nf-core/pear/meta.yml
  modules/nf-core/pear/tests/main.nf.test.snap
Due: nextflow-lint

Linting cleanup of modules starting `E` (#9993)
  modules/nf-core/eggnogmapper/main.nf
  modules/nf-core/eido/convert/main.nf
  modules/nf-core/emboss/revseq/main.nf
  modules/nf-core/entrezdirect/esummary/main.nf
  modules/nf-core/entrezdirect/xtract/tests/main.nf.test.snap
  modules/nf-core/epang/place/main.nf
  modules/nf-core/estsfs/main.nf
  modules/nf-core/evigene/tr2aacds/main.nf
Due: nextflow-lint

Topics for pear (#10003)
  modules/nf-core/pear/main.nf
  modules/nf-core/pear/meta.yml
  modules/nf-core/pear/tests/main.nf.test.snap
Due: nextflow-lint

Path conditions:
  conda-env-sorter: any of: environment and \.(yaml|yml)$
  nextflow-lint: any of: \.nf$|nextflow\.config$
