Repository nf-core/modules: changes, and which pre-commit hooks are due for each by the changed paths.
All: conda-env-sorter, nextflow-lint

conda-env-sorter:
  name: Sort dependencies in conda environment files.
  entry: ./.github/scripts/conda_env_sorter.py
  language: python
  additional_dependencies:
  - ruamel.yaml

nextflow-lint:
  name: Lint Nextflow scripts and fix formatting
  entry: nextflow lint
  language: system
  args:
  - -sort-declarations
  - -spaces
  - '4'
  - -harshil-alignment
  - -output
  - concise
  pass_filenames: true
  require_serial: true

Topics for pear (#10003)
  modules/nf-core/pear/main.nf
  modules/nf-core/pear/meta.yml
  modules/nf-core/pear/tests/main.nf.test.snap
Due: nextflow-lint

Fix test
  modules/nf-core/foldcomp/decompress/tests/main.nf.test.snap
Due: none

Set env
  modules/nf-core/fastqe/environment.yml
Due: conda-env-sorter

Update foldcomp
  modules/nf-core/foldcomp/compress/environment.yml
  modules/nf-core/foldcomp/compress/main.nf
  modules/nf-core/foldcomp/compress/tests/main.nf.test.snap
  modules/nf-core/foldcomp/decompress/environment.yml
  modules/nf-core/foldcomp/decompress/main.nf
  modules/nf-core/foldcomp/decompress/tests/main.nf.test.snap
Due: conda-env-sorter, nextflow-lint

better snapshot
  subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/main.nf
  subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/tests/main.nf.test
  subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/tests/main.nf.test.snap
Due: nextflow-lint

convert controlfreec to versions topics (#9999)
  modules/nf-core/controlfreec/assesssignificance/main.nf
  modules/nf-core/controlfreec/assesssignificance/meta.yml
  modules/nf-core/controlfreec/assesssignificance/tests/main.nf.test
  modules/nf-core/controlfreec/assesssignificance/tests/main.nf.test.snap
  modules/nf-core/controlfreec/freec/main.nf
  modules/nf-core/controlfreec/freec/meta.yml
  modules/nf-core/controlfreec/freec/tests/main.nf.test
  modules/nf-core/controlfreec/freec/tests/main.nf.test.snap
  modules/nf-core/controlfreec/freec2bed/main.nf
  modules/nf-core/controlfreec/freec2bed/meta.yml
  modules/nf-core/controlfreec/freec2bed/tests/main.nf.test
  modules/nf-core/controlfreec/freec2bed/tests/main.nf.test.snap
  modules/nf-core/controlfreec/freec2circos/main.nf
  modules/nf-core/controlfreec/freec2circos/meta.yml
  modules/nf-core/controlfreec/freec2circos/tests/main.nf.test
  modules/nf-core/controlfreec/freec2circos/tests/main.nf.test.snap
  modules/nf-core/controlfreec/makegraph/main.nf
  modules/nf-core/controlfreec/makegraph/meta.yml
  modules/nf-core/controlfreec/makegraph/tests/main.nf.test
  modules/nf-core/controlfreec/makegraph/tests/main.nf.test.snap
  modules/nf-core/controlfreec/makegraph2/main.nf
  modules/nf-core/controlfreec/makegraph2/meta.yml
  modules/nf-core/controlfreec/makegraph2/tests/main.nf.test
  modules/nf-core/controlfreec/makegraph2/tests/main.nf.test.snap
Due: nextflow-lint

fix linting
  modules/nf-core/rtgtools/rocplot/tests/main.nf.test
Due: none

Update modules/nf-core/rtgtools/bndeval/main.nf
  modules/nf-core/rtgtools/bndeval/main.nf
Due: nextflow-lint

Linting cleanup of modules starting `D` (#9991)
  modules/nf-core/deeparg/downloaddata/main.nf
  modules/nf-core/deeparg/downloaddata/tests/main.nf.test.snap
  modules/nf-core/deeparg/predict/main.nf
  modules/nf-core/deepbgc/download/main.nf
  modules/nf-core/demuxem/environment.yml
  modules/nf-core/demuxem/main.nf
  modules/nf-core/demuxem/meta.yml
  modules/nf-core/demuxem/tests/main.nf.test
  modules/nf-core/demuxem/tests/main.nf.test.snap
  modules/nf-core/diann/insilicolibrarygeneration/main.nf
  modules/nf-core/diann/main.nf
  modules/nf-core/diann/tests/nextflow.config
  modules/nf-core/drep/compare/environment.yml
  modules/nf-core/drep/dereplicate/environment.yml
  modules/nf-core/drep/dereplicate/main.nf
  modules/nf-core/dshbio/filterbed/main.nf
  modules/nf-core/dshbio/splitgff3/main.nf
  modules/nf-core/dssp/mkdssp/environment.yml
  modules/nf-core/dssp/mkdssp/main.nf
  modules/nf-core/dssp/mkdssp/tests/main.nf.test.snap
Due: conda-env-sorter, nextflow-lint

update evals to short format
  modules/nf-core/rtgtools/bndeval/meta.yml
  modules/nf-core/rtgtools/pedfilter/main.nf
  modules/nf-core/rtgtools/pedfilter/meta.yml
  modules/nf-core/rtgtools/pedfilter/tests/main.nf.test
  modules/nf-core/rtgtools/pedfilter/tests/main.nf.test.snap
  modules/nf-core/rtgtools/rocplot/main.nf
  modules/nf-core/rtgtools/rocplot/meta.yml
  modules/nf-core/rtgtools/svdecompose/main.nf
  modules/nf-core/rtgtools/svdecompose/meta.yml
  modules/nf-core/rtgtools/vcfeval/main.nf
  modules/nf-core/rtgtools/vcfeval/meta.yml
Due: nextflow-lint

get back the comments
  modules/nf-core/rtgtools/format/meta.yml
Due: none

fix linting
  modules/nf-core/rtgtools/format/meta.yml
Due: none

Update modules/nf-core/force/cube/main.nf
  modules/nf-core/force/cube/main.nf
Due: nextflow-lint

RTGtools: Migrate to topic channels (#10004)
  modules/nf-core/rtgtools/bndeval/main.nf
  modules/nf-core/rtgtools/bndeval/meta.yml
  modules/nf-core/rtgtools/bndeval/tests/main.nf.test.snap
  modules/nf-core/rtgtools/format/main.nf
  modules/nf-core/rtgtools/format/meta.yml
  modules/nf-core/rtgtools/format/tests/main.nf.test
  modules/nf-core/rtgtools/format/tests/main.nf.test.snap
  modules/nf-core/rtgtools/pedfilter/main.nf
  modules/nf-core/rtgtools/pedfilter/meta.yml
  modules/nf-core/rtgtools/pedfilter/tests/main.nf.test
  modules/nf-core/rtgtools/pedfilter/tests/main.nf.test.snap
  modules/nf-core/rtgtools/rocplot/main.nf
  modules/nf-core/rtgtools/rocplot/meta.yml
  modules/nf-core/rtgtools/rocplot/tests/main.nf.test
  modules/nf-core/rtgtools/rocplot/tests/main.nf.test.snap
  modules/nf-core/rtgtools/svdecompose/main.nf
  modules/nf-core/rtgtools/svdecompose/meta.yml
  modules/nf-core/rtgtools/svdecompose/tests/main.nf.test.snap
  modules/nf-core/rtgtools/vcfeval/main.nf
  modules/nf-core/rtgtools/vcfeval/meta.yml
  modules/nf-core/rtgtools/vcfeval/tests/main.nf.test.snap
Due: nextflow-lint

Linting cleanup of modules starting `F` (#9998)
  modules/nf-core/famsa/guidetree/main.nf
  modules/nf-core/fargene/main.nf
  modules/nf-core/fastani/main.nf
  modules/nf-core/fastme/main.nf
  modules/nf-core/fastqe/environment.yml
  modules/nf-core/fastqe/main.nf
  modules/nf-core/fastqscreen/buildfromindex/main.nf
  modules/nf-core/fastqscreen/fastqscreen/main.nf
  modules/nf-core/fastx/collapser/main.nf
  modules/nf-core/fcs/fcsgx/main.nf
  modules/nf-core/foldcomp/compress/environment.yml
  modules/nf-core/foldcomp/compress/main.nf
  modules/nf-core/foldcomp/compress/tests/main.nf.test.snap
  modules/nf-core/foldcomp/decompress/environment.yml
  modules/nf-core/foldcomp/decompress/main.nf
  modules/nf-core/foldcomp/decompress/tests/main.nf.test.snap
  modules/nf-core/foldmason/createdb/main.nf
  modules/nf-core/foldmason/easymsa/main.nf
  modules/nf-core/foldmason/msa2lddtreport/main.nf
  modules/nf-core/foldseek/createdb/main.nf
  modules/nf-core/force/cube/main.nf
  modules/nf-core/force/tileextent/main.nf
  modules/nf-core/freyja/update/main.nf
Due: conda-env-sorter, nextflow-lint

Cleanup modules g
  modules/nf-core/ganon/buildcustom/main.nf
  modules/nf-core/ganon/classify/main.nf
  modules/nf-core/ganon/report/main.nf
  modules/nf-core/ganon/table/main.nf
  modules/nf-core/gappa/examineassign/main.nf
  modules/nf-core/gappa/examineheattree/main.nf
  modules/nf-core/gappa/examineheattree/tests/nextflow.config
  modules/nf-core/gem2/gemindexer/main.nf
  modules/nf-core/gem3/gem3indexer/main.nf
  modules/nf-core/genotyphi/parse/main.nf
  modules/nf-core/geofetch/main.nf
  modules/nf-core/getorganelle/config/main.nf
  modules/nf-core/gfatools/gfa2fa/main.nf
  modules/nf-core/gfatools/stat/main.nf
  modules/nf-core/glnexus/main.nf
  modules/nf-core/gmmdemux/main.nf
  modules/nf-core/gnu/split/main.nf
  modules/nf-core/goat/taxonsearch/main.nf
  modules/nf-core/goleft/indexcov/main.nf
  modules/nf-core/grabix/check/main.nf
  modules/nf-core/graphmap2/index/main.nf
  modules/nf-core/graphtyper/vcfconcatenate/main.nf
  modules/nf-core/gt/ltrharvest/main.nf
  modules/nf-core/gt/suffixerator/main.nf
  modules/nf-core/gtfsort/main.nf
  modules/nf-core/gubbins/main.nf
  modules/nf-core/gunc/downloaddb/main.nf
  modules/nf-core/gunc/mergecheckm/main.nf
  modules/nf-core/gunc/mergecheckm/tests/main.nf.test
  modules/nf-core/gunc/run/main.nf
Due: nextflow-lint

Update ganon snapshot
  modules/nf-core/ganon/buildcustom/tests/main.nf.test.snap
  modules/nf-core/ganon/classify/tests/main.nf.test.snap
  modules/nf-core/ganon/report/tests/main.nf.test.snap
  modules/nf-core/ganon/table/tests/main.nf.test.snap
Due: none

Cleanup
  modules/nf-core/haplocheck/main.nf
  modules/nf-core/happy/ftxpy/main.nf
  modules/nf-core/happy/happy/main.nf
  modules/nf-core/happy/prepy/main.nf
  modules/nf-core/helitronscanner/draw/main.nf
  modules/nf-core/hicap/main.nf
  modules/nf-core/hicap/tests/main.nf.test
  modules/nf-core/hicexplorer/hicpca/main.nf
  modules/nf-core/hifiasm/main.nf
  modules/nf-core/hifitrimmer/processblast/main.nf
  modules/nf-core/hifitrimmer/processblast/tests/main.nf.test
  modules/nf-core/hlala/preparegraph/main.nf
  modules/nf-core/hmmer/hmmfetch/main.nf
  modules/nf-core/hmmer/hmmrank/main.nf
  modules/nf-core/homer/pos2bed/main.nf
  modules/nf-core/hostile/clean/main.nf
  modules/nf-core/hpsuissero/main.nf
  modules/nf-core/htsnimtools/vcfcheck/main.nf
Due: nextflow-lint

Update gfatool
  modules/nf-core/gfatools/gfa2fa/environment.yml
  modules/nf-core/gfatools/gfa2fa/main.nf
  modules/nf-core/gfatools/gfa2fa/tests/main.nf.test
  modules/nf-core/gfatools/gfa2fa/tests/main.nf.test.snap
  modules/nf-core/gfatools/stat/environment.yml
  modules/nf-core/gfatools/stat/main.nf
  modules/nf-core/gfatools/stat/tests/main.nf.test
  modules/nf-core/gfatools/stat/tests/main.nf.test.snap
  modules/nf-core/goat/taxonsearch/tests/main.nf.test.snap
Due: conda-env-sorter, nextflow-lint

Update meta
  modules/nf-core/gfatools/gfa2fa/meta.yml
  modules/nf-core/gfatools/stat/meta.yml
Due: none

Fix environment
  modules/nf-core/gfatools/gfa2fa/environment.yml
  modules/nf-core/gfatools/stat/environment.yml
Due: conda-env-sorter

Cleanup
  modules/nf-core/ichorcna/run/main.nf
  modules/nf-core/icountmini/segment/main.nf
  modules/nf-core/igvreports/main.nf
  modules/nf-core/instrain/compare/main.nf
  modules/nf-core/instrain/profile/main.nf
  modules/nf-core/iphop/predict/main.nf
  modules/nf-core/iqtree/main.nf
  modules/nf-core/ismapper/main.nf
  modules/nf-core/isoseq/cluster/main.nf
  modules/nf-core/isoseq/refine/main.nf
  modules/nf-core/ivar/trim/main.nf
Due: nextflow-lint

Revert change
  modules/nf-core/gunc/mergecheckm/main.nf
Due: nextflow-lint

Update gfatool
  modules/nf-core/gfatools/gfa2fa/environment.yml
  modules/nf-core/gfatools/gfa2fa/main.nf
  modules/nf-core/gfatools/gfa2fa/tests/main.nf.test.snap
  modules/nf-core/gfatools/stat/environment.yml
  modules/nf-core/gfatools/stat/main.nf
Due: conda-env-sorter, nextflow-lint

Remove big test
  modules/nf-core/gunc/downloaddb/tests/main.nf.test
Due: none

Update hicap
  modules/nf-core/hicap/main.nf
  modules/nf-core/hicap/tests/main.nf.test.snap
Due: nextflow-lint

Fix gubbins
  modules/nf-core/gubbins/environment.yml
  modules/nf-core/gubbins/main.nf
  modules/nf-core/gubbins/tests/main.nf.test
  modules/nf-core/gubbins/tests/main.nf.test.snap
Due: conda-env-sorter, nextflow-lint

Update meta
  modules/nf-core/gubbins/meta.yml
Due: none

Fix isoseq and ismapper
  modules/nf-core/ismapper/environment.yml
  modules/nf-core/ismapper/main.nf
  modules/nf-core/isoseq/cluster/tests/main.nf.test
  modules/nf-core/isoseq/cluster/tests/main.nf.test.snap
  modules/nf-core/isoseq/refine/tests/main.nf.test
  modules/nf-core/isoseq/refine/tests/main.nf.test.snap
Due: conda-env-sorter, nextflow-lint

Put back comment
  modules/nf-core/gubbins/meta.yml
Due: none

Update modules/nf-core/fastani/tests/main.nf.test
  modules/nf-core/fastani/tests/main.nf.test
Due: none

fix: removed accidental commit
  modules/nf-core/fastani/main.nf
Due: nextflow-lint

fix: corrected improper version capture
  modules/nf-core/fastani/main.nf
Due: nextflow-lint

chore: update snapshot
  modules/nf-core/fastani/main.nf
  modules/nf-core/fastani/meta.yml
  modules/nf-core/fastani/tests/main.nf.test.snap
Due: nextflow-lint

feature: made it to where query and reference lists contain both genomes
  modules/nf-core/fastani/tests/main.nf.test
  modules/nf-core/fastani/tests/main.nf.test.snap
Due: none

Refactor module: Rename to lsa/cosine, update deps, add stub and snapshots
  modules/nf-core/cosimflow/environment.yml
  modules/nf-core/cosimflow/main.nf
  modules/nf-core/lsa/cosine/environment.yml
  modules/nf-core/lsa/cosine/main.nf
  modules/nf-core/lsa/cosine/meta.yml
  modules/nf-core/lsa/cosine/templates/cosine.R
  modules/nf-core/lsa/cosine/tests/main.nf.test
  tests/modules/nf-core/lsa/cosine/main.nf.test
Due: conda-env-sorter, nextflow-lint

Path conditions:
  conda-env-sorter: any of: environment and \.(yaml|yml)$
  nextflow-lint: any of: \.nf$|nextflow\.config$
