Repository nf-core/modules: changes, and which pre-commit hooks are due for each by the changed paths.
All: conda-env-sorter, nextflow-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: conda-env-sorter
        name: Sort dependencies in conda environment files.
        entry: ./.github/scripts/conda_env_sorter.py
        language: python
        files: environment
        types: [yaml]
        additional_dependencies: ["ruamel.yaml"]
      - id: nextflow-lint
        name: Lint Nextflow scripts and fix formatting
        entry: nextflow lint
        language: system
        files: '\.nf$|nextflow\.config$'
        # FIXME Removed -format https://github.com/nextflow-io/nextflow/issues/6365
        args: ["-sort-declarations", "-spaces", "4", "-harshil-alignment", "-output", "concise"]
        pass_filenames: true
        # FIXME Throws `ERROR ~ Unexpected error [ConcurrentModificationException]`
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        entry: prettier --experimental-cli --write --ignore-unknown --no-cache
        exclude: |
          (?x)^(
              .*\.snap$
          )$
        additional_dependencies:
          - prettier@3.8.1

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: |
          (?x)^(
              .*\.snap$
          )$
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$
          )$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.35.0
    hooks:
      - id: check-jsonschema
        name: "Match meta.ymls in one of the subdirectories of modules/nf-core"
        files: ^modules/nf-core/.*/meta\.yml$
        types: [yaml]
        args: ["--schemafile", "modules/yaml-schema.json"]
      - id: check-jsonschema
        name: "Validate environment.ymls against schema"
        files: ^modules/nf-core/.*/environment\.yml$
        types: [yaml]
        args: ["--schemafile", "modules/environment-schema.json"]
      - id: check-jsonschema
        name: "Match meta.ymls in one of the subdirectories of subworkflows/nf-core"
        files: ^subworkflows/nf-core/.*/meta\.yml$
        types: [yaml]
        args: ["--schemafile", "subworkflows/yaml-schema.json"]
      - id: check-github-workflows

  # use ruff for python files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        files: \.py$
        args: [--fix, --exit-non-zero-on-fix, "--select", "I,E1,E4,E7,E9,F,UP,N"] # sort imports and fix (rules taken from nf-core/tools)
      - id: ruff-format # formatter
    # NOTE This runs with Docker instead of the binary. Hoping anyone messing with Dockerfiles has Docker installed
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
        args: ["--failure-threshold", "error"]

Add FastQC step after filtering in fastq_qc_trim_filter_setstrandedness (#9986)
  subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/main.nf
  subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/meta.yml
  subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/tests/main.nf.test
  subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/tests/main.nf.test.snap
Due: nextflow-lint

review suggestions
  modules/nf-core/smncopynumbercaller/main.nf
  modules/nf-core/smncopynumbercaller/meta.yml
  modules/nf-core/spring/compress/main.nf
  modules/nf-core/spring/compress/meta.yml
  modules/nf-core/spring/decompress/main.nf
  modules/nf-core/spring/decompress/meta.yml
  modules/nf-core/ucsc/wigtobigwig/main.nf
  modules/nf-core/ucsc/wigtobigwig/meta.yml
  modules/nf-core/ucsc/wigtobigwig/tests/main.nf.test.snap
Due: nextflow-lint

pre-commit fix
  modules/nf-core/ucsc/wigtobigwig/meta.yml
Due: none

migrate gridss to version topics (#9988)
  modules/nf-core/gridss/generateponbedpe/main.nf
  modules/nf-core/gridss/generateponbedpe/meta.yml
  modules/nf-core/gridss/generateponbedpe/tests/main.nf.test
  modules/nf-core/gridss/generateponbedpe/tests/main.nf.test.snap
  modules/nf-core/gridss/generateponbedpe/tests/nextflow.config
  modules/nf-core/gridss/gridss/main.nf
  modules/nf-core/gridss/gridss/meta.yml
  modules/nf-core/gridss/gridss/tests/main.nf.test
  modules/nf-core/gridss/gridss/tests/main.nf.test.snap
  modules/nf-core/gridss/somaticfilter/main.nf
  modules/nf-core/gridss/somaticfilter/meta.yml
  modules/nf-core/gridss/somaticfilter/tests/main.nf.test
  modules/nf-core/gridss/somaticfilter/tests/main.nf.test.snap
Due: nextflow-lint

Use suffix instead of genome for file operations
  modules/nf-core/bwa/index/main.nf
Due: nextflow-lint

Update D
  modules/nf-core/deeparg/downloaddata/main.nf
  modules/nf-core/deeparg/predict/main.nf
  modules/nf-core/deepbgc/download/main.nf
  modules/nf-core/demuxem/main.nf
  modules/nf-core/demuxem/tests/main.nf.test
  modules/nf-core/demuxem/tests/main.nf.test.snap
Due: nextflow-lint

fix svaba tests
  modules/nf-core/svaba/tests/nextflow.config
Due: nextflow-lint

used proper repo path variable, changed iterator to it instead of f
  modules/nf-core/bigslice/tests/main.nf.test
Due: none

Update sbwf
  subworkflows/nf-core/bam_impute_quilt/main.nf
  subworkflows/nf-core/bam_impute_quilt/meta.yml
  subworkflows/nf-core/bam_impute_quilt/tests/main.nf.test
  subworkflows/nf-core/bam_impute_stitch/tests/main.nf
Due: nextflow-lint

Revert moving main
  subworkflows/nf-core/bam_impute_stitch/main.nf
Due: nextflow-lint

Cleanup
  modules/nf-core/diann/insilicolibrarygeneration/main.nf
  modules/nf-core/diann/tests/nextflow.config
  modules/nf-core/drep/dereplicate/main.nf
  modules/nf-core/dshbio/filterbed/main.nf
  modules/nf-core/dshbio/splitgff3/main.nf
  modules/nf-core/dssp/mkdssp/main.nf
Due: nextflow-lint

convert svaba to versions topic
  modules/nf-core/svaba/main.nf
  modules/nf-core/svaba/meta.yml
  modules/nf-core/svaba/tests/main.nf.test
  modules/nf-core/svaba/tests/main.nf.test.snap
Due: nextflow-lint

Fix diann
  modules/nf-core/diann/main.nf
Due: nextflow-lint

used proper repo path variable, changed iterator to it instead of f (#9989)
  modules/nf-core/bigslice/tests/main.nf.test
Due: none

Cleanup
  modules/nf-core/eggnogmapper/main.nf
  modules/nf-core/eido/convert/main.nf
  modules/nf-core/emboss/revseq/main.nf
  modules/nf-core/entrezdirect/esummary/main.nf
  modules/nf-core/epang/place/main.nf
  modules/nf-core/estsfs/main.nf
  modules/nf-core/evigene/tr2aacds/main.nf
Due: nextflow-lint

more fixes
  modules/nf-core/parabricks/fq2bam/tests/nextflow.config
  subworkflows/nf-core/fastq_align_bwa/tests/main.nf.test.snap
Due: nextflow-lint

update snapshots
  modules/nf-core/mmseqs/cluster/tests/main.nf.test.snap
  modules/nf-core/mmseqs/createdb/tests/main.nf.test.snap
  modules/nf-core/mmseqs/createindex/tests/main.nf.test.snap
  modules/nf-core/mmseqs/createtaxdb/tests/main.nf.test.snap
  modules/nf-core/mmseqs/createtsv/tests/main.nf.test.snap
  modules/nf-core/mmseqs/databases/tests/main.nf.test.snap
  modules/nf-core/mmseqs/easycluster/tests/main.nf.test.snap
  modules/nf-core/mmseqs/easysearch/tests/main.nf.test.snap
  modules/nf-core/mmseqs/linclust/tests/main.nf.test.snap
  modules/nf-core/mmseqs/search/tests/main.nf.test.snap
  modules/nf-core/mmseqs/taxonomy/tests/main.nf.test.snap
  modules/nf-core/mmseqs/tsv2exprofiledb/tests/main.nf.test.snap
  subworkflows/nf-core/mmseqs_contig_taxonomy/main.nf
  subworkflows/nf-core/mmseqs_contig_taxonomy/meta.yml
  subworkflows/nf-core/mmseqs_contig_taxonomy/tests/main.nf.test
  subworkflows/nf-core/mmseqs_fasta_cluster/main.nf
  subworkflows/nf-core/mmseqs_fasta_cluster/tests/main.nf.test
Due: nextflow-lint

strict syntax
  modules/nf-core/bwa/index/main.nf
Due: nextflow-lint

Cleanup
  modules/nf-core/famsa/guidetree/main.nf
  modules/nf-core/fargene/main.nf
  modules/nf-core/fastani/main.nf
  modules/nf-core/fastme/main.nf
  modules/nf-core/fastqe/main.nf
  modules/nf-core/fastqscreen/buildfromindex/main.nf
  modules/nf-core/fastqscreen/fastqscreen/main.nf
  modules/nf-core/fastx/collapser/main.nf
  modules/nf-core/fcs/fcsgx/main.nf
  modules/nf-core/foldcomp/compress/main.nf
  modules/nf-core/foldcomp/decompress/main.nf
  modules/nf-core/foldcomp/decompress/tests/main.nf.test.snap
  modules/nf-core/foldmason/createdb/main.nf
  modules/nf-core/foldmason/easymsa/main.nf
  modules/nf-core/foldmason/msa2lddtreport/main.nf
  modules/nf-core/foldseek/createdb/main.nf
  modules/nf-core/force/cube/main.nf
  modules/nf-core/force/tileextent/main.nf
  modules/nf-core/freyja/update/main.nf
Due: nextflow-lint

Update `QUILT` sbwf (#9990)
  subworkflows/nf-core/bam_impute_quilt/main.nf
  subworkflows/nf-core/bam_impute_quilt/meta.yml
  subworkflows/nf-core/bam_impute_quilt/tests/main.nf.test
Due: nextflow-lint

feat: Add CUSTOM_RSEMMERGECOUNTS module and QUANTIFY_RSEM subworkflow
  modules/nf-core/custom/rsemmergecounts/environment.yml
  modules/nf-core/custom/rsemmergecounts/main.nf
  modules/nf-core/custom/rsemmergecounts/meta.yml
  modules/nf-core/custom/rsemmergecounts/tests/main.nf.test
  modules/nf-core/custom/rsemmergecounts/tests/main.nf.test.snap
  subworkflows/nf-core/quantify_rsem/main.nf
  subworkflows/nf-core/quantify_rsem/meta.yml
  subworkflows/nf-core/quantify_rsem/nextflow.config
  subworkflows/nf-core/quantify_rsem/tests/main.nf.test
  subworkflows/nf-core/quantify_rsem/tests/main.nf.test.snap
  subworkflows/nf-core/quantify_rsem/tests/nextflow.config
Due: conda-env-sorter, nextflow-lint

Apply suggestion from @maxulysse
  modules/nf-core/bwa/index/main.nf
Due: nextflow-lint

give bwamem2/index a makeover
  modules/nf-core/bwamem2/index/main.nf
  modules/nf-core/bwamem2/index/meta.yml
  modules/nf-core/bwamem2/index/tests/main.nf.test
  modules/nf-core/bwamem2/index/tests/main.nf.test.snap
Due: nextflow-lint

meta updated
  modules/nf-core/pygenprop/build/meta.yml
Due: none

address review comments
  modules/nf-core/svaba/meta.yml
  modules/nf-core/svaba/tests/main.nf.test
  modules/nf-core/svaba/tests/main.nf.test.snap
Due: none

update subworkflow tests
  subworkflows/nf-core/mmseqs_contig_taxonomy/main.nf
  subworkflows/nf-core/mmseqs_contig_taxonomy/tests/main.nf.test.snap
  subworkflows/nf-core/mmseqs_fasta_cluster/main.nf
  subworkflows/nf-core/mmseqs_fasta_cluster/tests/main.nf.test.snap
Due: nextflow-lint

better snapshot for bwamem2/mem
  modules/nf-core/bwamem2/mem/tests/main.nf.test
  modules/nf-core/bwamem2/mem/tests/main.nf.test.snap
Due: none

fix tests
  subworkflows/nf-core/fasta_index_dna/tests/main.nf.test
  subworkflows/nf-core/fasta_index_dna/tests/nextflow.config
Due: nextflow-lint

add-pygenprop_build module (#9987)
  modules/nf-core/pygenprop/build/environment.yml
  modules/nf-core/pygenprop/build/main.nf
  modules/nf-core/pygenprop/build/meta.yml
  modules/nf-core/pygenprop/build/tests/main.nf.test
  modules/nf-core/pygenprop/build/tests/main.nf.test.snap
Due: conda-env-sorter, nextflow-lint

convert svaba to versions topic (#9992)
  modules/nf-core/svaba/main.nf
  modules/nf-core/svaba/meta.yml
  modules/nf-core/svaba/tests/main.nf.test
  modules/nf-core/svaba/tests/main.nf.test.snap
Due: nextflow-lint

Update meta
  modules/nf-core/demuxem/meta.yml
Due: none

Update modules
  modules/nf-core/deeparg/downloaddata/tests/main.nf.test.snap
  modules/nf-core/demuxem/tests/main.nf.test
  modules/nf-core/demuxem/tests/main.nf.test.snap
  modules/nf-core/dssp/mkdssp/environment.yml
  modules/nf-core/dssp/mkdssp/main.nf
  modules/nf-core/dssp/mkdssp/tests/main.nf.test.snap
Due: conda-env-sorter, nextflow-lint

Fix pandas version in drep
  modules/nf-core/drep/compare/environment.yml
  modules/nf-core/drep/dereplicate/environment.yml
Due: conda-env-sorter

fix: Address nf-core lint failures for CUSTOM_RSEMMERGECOUNTS
  modules/nf-core/custom/rsemmergecounts/main.nf
  modules/nf-core/custom/rsemmergecounts/meta.yml
  modules/nf-core/custom/rsemmergecounts/tests/main.nf.test
  modules/nf-core/custom/rsemmergecounts/tests/main.nf.test.snap
Due: nextflow-lint
