Repository nf-core/modules: changes, and which pre-commit hooks are due for each by the changed paths.
All: conda-env-sorter, nextflow-lint

conda-env-sorter:
  name: Sort dependencies in conda environment files.
  entry: ./.github/scripts/conda_env_sorter.py
  language: python
  additional_dependencies:
  - ruamel.yaml

nextflow-lint:
  name: Lint Nextflow scripts and fix formatting
  entry: nextflow lint
  language: system
  args:
  - -sort-declarations
  - -spaces
  - '4'
  - -harshil-alignment
  - -output
  - concise
  pass_filenames: true
  require_serial: true

better snapshot
  modules/nf-core/fastqc/tests/main.nf.test
  modules/nf-core/fastqc/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_fastqc_umitools_fastp/main.nf
  subworkflows/nf-core/fastq_fastqc_umitools_fastp/tests/main.nf.test
  subworkflows/nf-core/fastq_fastqc_umitools_fastp/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_fastqc_umitools_trimgalore/main.nf
  subworkflows/nf-core/fastq_fastqc_umitools_trimgalore/tests/main.nf.test
  subworkflows/nf-core/fastq_fastqc_umitools_trimgalore/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/main.nf
  subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/tests/main.function.nf.test
Due: nextflow-lint

Blast topic (#9972)
  modules/nf-core/blast/blastdbcmd/main.nf
  modules/nf-core/blast/blastdbcmd/meta.yml
  modules/nf-core/blast/blastdbcmd/tests/main.nf.test.snap
  modules/nf-core/blast/blastn/main.nf
  modules/nf-core/blast/blastn/meta.yml
  modules/nf-core/blast/blastn/tests/main.nf.test
  modules/nf-core/blast/blastn/tests/main.nf.test.snap
  modules/nf-core/blast/blastp/main.nf
  modules/nf-core/blast/blastp/meta.yml
  modules/nf-core/blast/blastp/tests/main.nf.test.snap
  modules/nf-core/blast/makeblastdb/main.nf
  modules/nf-core/blast/makeblastdb/meta.yml
  modules/nf-core/blast/makeblastdb/tests/main.nf.test
  modules/nf-core/blast/makeblastdb/tests/main.nf.test.snap
  modules/nf-core/blast/tblastn/main.nf
  modules/nf-core/blast/tblastn/meta.yml
  modules/nf-core/blast/tblastn/tests/main.nf.test
  modules/nf-core/blast/tblastn/tests/main.nf.test.snap
  modules/nf-core/blast/updateblastdb/main.nf
  modules/nf-core/blast/updateblastdb/meta.yml
  modules/nf-core/blast/updateblastdb/tests/main.nf.test
  modules/nf-core/blast/updateblastdb/tests/main.nf.test.snap
Due: nextflow-lint

better snapshot
  subworkflows/nf-core/fastq_shortreads_preprocess_qc/tests/main.nf.test
Due: none

feat(freebayes): update to topic versions
  modules/nf-core/freebayes/main.nf
  modules/nf-core/freebayes/meta.yml
  modules/nf-core/freebayes/tests/main.nf.test
  modules/nf-core/freebayes/tests/main.nf.test.snap
  subworkflows/nf-core/bam_variant_calling_sort_freebayes_bcftools/main.nf
  subworkflows/nf-core/bam_variant_calling_sort_freebayes_bcftools/meta.yml
  subworkflows/nf-core/bam_variant_calling_sort_freebayes_bcftools/tests/main.nf.test.snap
Due: nextflow-lint

feat: Add quant_tximport_summarizedexperiment subworkflow and refactor quantify_pseudo_alignment
  subworkflows/nf-core/quant_tximport_summarizedexperiment/main.nf
  subworkflows/nf-core/quant_tximport_summarizedexperiment/meta.yml
  subworkflows/nf-core/quant_tximport_summarizedexperiment/nextflow.config
  subworkflows/nf-core/quant_tximport_summarizedexperiment/tests/main.nf.test
  subworkflows/nf-core/quant_tximport_summarizedexperiment/tests/main.nf.test.snap
  subworkflows/nf-core/quant_tximport_summarizedexperiment/tests/nextflow.config
  subworkflows/nf-core/quantify_pseudo_alignment/main.nf
  subworkflows/nf-core/quantify_pseudo_alignment/meta.yml
  subworkflows/nf-core/quantify_pseudo_alignment/tests/main.nf.test
  subworkflows/nf-core/quantify_pseudo_alignment/tests/nextflow.config
Due: nextflow-lint

traitar module is drafted (#9605)
  modules/nf-core/traitar/pfamget/environment.yml
  modules/nf-core/traitar/pfamget/main.nf
  modules/nf-core/traitar/pfamget/meta.yml
  modules/nf-core/traitar/pfamget/tests/main.nf.test
  modules/nf-core/traitar/pfamget/tests/main.nf.test.snap
  modules/nf-core/traitar/run/environment.yml
  modules/nf-core/traitar/run/main.nf
  modules/nf-core/traitar/run/meta.yml
  modules/nf-core/traitar/run/tests/main.nf.test
  modules/nf-core/traitar/run/tests/main.nf.test.snap
Due: conda-env-sorter, nextflow-lint

fix: Add missing test tags and populate snapshot files for linting
  subworkflows/nf-core/quant_tximport_summarizedexperiment/tests/main.nf.test
  subworkflows/nf-core/quant_tximport_summarizedexperiment/tests/main.nf.test.snap
  subworkflows/nf-core/quantify_pseudo_alignment/tests/main.nf.test
  subworkflows/nf-core/quantify_pseudo_alignment/tests/main.nf.test.snap
Due: none

vgan/haplocart
  modules/nf-core/vgan/haplocart/environment.yml
  modules/nf-core/vgan/haplocart/main.nf
  modules/nf-core/vgan/haplocart/meta.yml
  modules/nf-core/vgan/haplocart/tests/main.nf.test
  modules/nf-core/vgan/haplocart/tests/main.nf.test.snap
Due: conda-env-sorter, nextflow-lint

fix: Convert Path to File before eachFileRecurse in RSEM test
  subworkflows/nf-core/quant_tximport_summarizedexperiment/tests/main.nf.test
Due: none

not a typo
  subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/main.nf
Due: nextflow-lint

update svanalysis to topis
  modules/nf-core/svanalyzer/svbenchmark/main.nf
  modules/nf-core/svanalyzer/svbenchmark/meta.yml
  modules/nf-core/svanalyzer/svbenchmark/tests/main.nf.test
  modules/nf-core/svanalyzer/svbenchmark/tests/main.nf.test.snap
Due: nextflow-lint

fix: Clean up quantify_pseudo_alignment meta.yml and emit block
  subworkflows/nf-core/quantify_pseudo_alignment/main.nf
  subworkflows/nf-core/quantify_pseudo_alignment/meta.yml
Due: nextflow-lint

Ashlar version bump to 1.19.0 and version topic channel (#9965)
  modules/nf-core/ashlar/environment.yml
  modules/nf-core/ashlar/main.nf
  modules/nf-core/ashlar/meta.yml
  modules/nf-core/ashlar/tests/main.nf.test.snap
Due: conda-env-sorter, nextflow-lint

update mods
  modules/nf-core/smncopynumbercaller/main.nf
  modules/nf-core/smncopynumbercaller/meta.yml
  modules/nf-core/smncopynumbercaller/tests/main.nf.test.snap
  modules/nf-core/tiddit/cov/meta.yml
  modules/nf-core/tiddit/cov/tests/main.nf.test
  modules/nf-core/tiddit/cov/tests/main.nf.test.snap
  modules/nf-core/tiddit/sv/main.nf
  modules/nf-core/tiddit/sv/meta.yml
  modules/nf-core/tiddit/sv/tests/main.nf.test
  modules/nf-core/tiddit/sv/tests/main.nf.test.snap
Due: nextflow-lint

update snaps
  modules/nf-core/smncopynumbercaller/tests/main.nf.test.snap
Due: none

update snap
  modules/nf-core/tiddit/sv/tests/main.nf.test
  modules/nf-core/tiddit/sv/tests/main.nf.test.snap
Due: none

update spring compress test
  modules/nf-core/spring/compress/tests/main.nf.test
  modules/nf-core/spring/compress/tests/main.nf.test.snap
Due: none

Swap mgikit to topic
  modules/nf-core/mgikit/demultiplex/main.nf
  modules/nf-core/mgikit/demultiplex/meta.yml
  modules/nf-core/mgikit/demultiplex/tests/main.nf.test
  modules/nf-core/mgikit/demultiplex/tests/main.nf.test.snap
Due: nextflow-lint

Swap mgikit to topic
  modules/nf-core/mgikit/demultiplex/meta.yml
Due: none

fix(BAM_VARIANT_CALLING_SORT_FREEBAYES_BCFTOOLS): remove versions from test
  subworkflows/nf-core/bam_variant_calling_sort_freebayes_bcftools/tests/main.nf.test
  subworkflows/nf-core/bam_variant_calling_sort_freebayes_bcftools/tests/main.nf.test.snap
Due: none

lint meta.yml
  modules/nf-core/svanalyzer/svbenchmark/meta.yml
Due: none

feat: Add FastQC step after filtering in fastq_qc_trim_filter_setstrandedness
  subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/main.nf
  subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/meta.yml
  subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/tests/main.nf.test
Due: nextflow-lint

bases2fastq to topic
  modules/nf-core/bases2fastq/main.nf
  modules/nf-core/bases2fastq/meta.yml
  modules/nf-core/bases2fastq/tests/main.nf.test
  modules/nf-core/bases2fastq/tests/main.nf.test.snap
Due: nextflow-lint

Update snap for new fastqc step
  subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/tests/main.nf.test.snap
Due: none

Implement prefix
  modules/nf-core/bases2fastq/main.nf
  modules/nf-core/bases2fastq/meta.yml
Due: nextflow-lint

fix: Add failOnMismatch and failOnDuplicate to join operators
  subworkflows/nf-core/quant_tximport_summarizedexperiment/main.nf
Due: nextflow-lint

Update version capture
  modules/nf-core/mgikit/demultiplex/main.nf
  modules/nf-core/mgikit/demultiplex/meta.yml
  modules/nf-core/mgikit/demultiplex/tests/main.nf.test.snap
Due: nextflow-lint

feat: Add quant_tximport_summarizedexperiment subworkflow (#9974)
  subworkflows/nf-core/quant_tximport_summarizedexperiment/main.nf
  subworkflows/nf-core/quant_tximport_summarizedexperiment/meta.yml
  subworkflows/nf-core/quant_tximport_summarizedexperiment/nextflow.config
  subworkflows/nf-core/quant_tximport_summarizedexperiment/tests/main.nf.test
  subworkflows/nf-core/quant_tximport_summarizedexperiment/tests/main.nf.test.snap
  subworkflows/nf-core/quant_tximport_summarizedexperiment/tests/nextflow.config
  subworkflows/nf-core/quantify_pseudo_alignment/main.nf
  subworkflows/nf-core/quantify_pseudo_alignment/meta.yml
  subworkflows/nf-core/quantify_pseudo_alignment/tests/main.nf.test
  subworkflows/nf-core/quantify_pseudo_alignment/tests/main.nf.test.snap
  subworkflows/nf-core/quantify_pseudo_alignment/tests/nextflow.config
Due: nextflow-lint

feat(freebayes): update to topic versions (#9973)
  modules/nf-core/freebayes/main.nf
  modules/nf-core/freebayes/meta.yml
  modules/nf-core/freebayes/tests/main.nf.test
  modules/nf-core/freebayes/tests/main.nf.test.snap
  subworkflows/nf-core/bam_variant_calling_sort_freebayes_bcftools/main.nf
  subworkflows/nf-core/bam_variant_calling_sort_freebayes_bcftools/meta.yml
  subworkflows/nf-core/bam_variant_calling_sort_freebayes_bcftools/tests/main.nf.test
  subworkflows/nf-core/bam_variant_calling_sort_freebayes_bcftools/tests/main.nf.test.snap
Due: nextflow-lint

add-pygenprop_build module
  modules/nf-core/pygenprop/build/environment.yml
  modules/nf-core/pygenprop/build/main.nf
  modules/nf-core/pygenprop/build/meta.yml
  modules/nf-core/pygenprop/build/tests/main.nf.test
  modules/nf-core/pygenprop/build/tests/main.nf.test.snap
Due: conda-env-sorter, nextflow-lint

meta.yml update
  modules/nf-core/svanalyzer/svbenchmark/meta.yml
Due: none

migrate gridss to version topics
  modules/nf-core/gridss/generateponbedpe/main.nf
  modules/nf-core/gridss/generateponbedpe/meta.yml
  modules/nf-core/gridss/generateponbedpe/tests/main.nf.test
  modules/nf-core/gridss/generateponbedpe/tests/main.nf.test.snap
  modules/nf-core/gridss/generateponbedpe/tests/nextflow.config
  modules/nf-core/gridss/gridss/main.nf
  modules/nf-core/gridss/gridss/meta.yml
  modules/nf-core/gridss/gridss/tests/main.nf.test
  modules/nf-core/gridss/gridss/tests/main.nf.test.snap
  modules/nf-core/gridss/somaticfilter/main.nf
  modules/nf-core/gridss/somaticfilter/meta.yml
  modules/nf-core/gridss/somaticfilter/tests/main.nf.test
  modules/nf-core/gridss/somaticfilter/tests/main.nf.test.snap
Due: nextflow-lint

create changes need to update snapshot
  modules/nf-core/mmseqs/cluster/main.nf
  modules/nf-core/mmseqs/cluster/meta.yml
  modules/nf-core/mmseqs/cluster/tests/main.nf.test
  modules/nf-core/mmseqs/createdb/main.nf
  modules/nf-core/mmseqs/createdb/meta.yml
  modules/nf-core/mmseqs/createdb/tests/main.nf.test
  modules/nf-core/mmseqs/createindex/main.nf
  modules/nf-core/mmseqs/createindex/meta.yml
  modules/nf-core/mmseqs/createindex/tests/main.nf.test
  modules/nf-core/mmseqs/createtaxdb/meta.yml
  modules/nf-core/mmseqs/createtaxdb/tests/main.nf.test
  modules/nf-core/mmseqs/createtsv/main.nf
  modules/nf-core/mmseqs/createtsv/meta.yml
  modules/nf-core/mmseqs/databases/main.nf
  modules/nf-core/mmseqs/databases/meta.yml
  modules/nf-core/mmseqs/databases/tests/main.nf.test
  modules/nf-core/mmseqs/easycluster/main.nf
  modules/nf-core/mmseqs/easycluster/meta.yml
  modules/nf-core/mmseqs/easysearch/main.nf
  modules/nf-core/mmseqs/easysearch/meta.yml
  modules/nf-core/mmseqs/linclust/main.nf
  modules/nf-core/mmseqs/linclust/meta.yml
  modules/nf-core/mmseqs/linclust/tests/main.nf.test
  modules/nf-core/mmseqs/search/main.nf
  modules/nf-core/mmseqs/search/meta.yml
  modules/nf-core/mmseqs/search/tests/main.nf.test
  modules/nf-core/mmseqs/taxonomy/main.nf
  modules/nf-core/mmseqs/taxonomy/meta.yml
  modules/nf-core/mmseqs/taxonomy/tests/main.nf.test
  modules/nf-core/mmseqs/tsv2exprofiledb/main.nf
  modules/nf-core/mmseqs/tsv2exprofiledb/meta.yml
  modules/nf-core/mmseqs/tsv2exprofiledb/tests/main.nf.test
Due: nextflow-lint

Path conditions:
  conda-env-sorter: any of: environment and \.(yaml|yml)$
  nextflow-lint: any of: \.nf$|nextflow\.config$
