Repository nf-core/modules: changes, and which pre-commit hooks are due for each by the changed paths.
All: conda-env-sorter, nextflow-lint

conda-env-sorter:
  name: Sort dependencies in conda environment files.
  entry: ./.github/scripts/conda_env_sorter.py
  language: python
  additional_dependencies:
  - ruamel.yaml

nextflow-lint:
  name: Lint Nextflow scripts and fix formatting
  entry: nextflow lint
  language: system
  args:
  - -sort-declarations
  - -spaces
  - '4'
  - -harshil-alignment
  - -output
  - concise
  pass_filenames: true
  require_serial: true

Fix: remove duplicate tests folder inside module directory
  modules/nf-core/lsa/cosine/tests/main.nf.test
Due: none

Fix: remove 'def' from script variables so that template can access them
  modules/nf-core/lsa/cosine/main.nf
  modules/nf-core/lsa/cosine/tests/main.nf.test
  modules/nf-core/lsa/cosine/tests/main.nf.test.snap
Due: nextflow-lint

Fix: removing Spanish comment
  modules/nf-core/lsa/cosine/main.nf
Due: nextflow-lint

Revert "chore(deps): update dependency askimed/nf-test to v0.9.4 (#10010)"
  .github/workflows/nf-test-gpu.yml
  .github/workflows/nf-test.yml
  .github/workflows/update-gpu-snapshot.yml
  .github/workflows/update-sentieon-snapshot.yml
Due: none

Revert "chore(deps): update dependency askimed/nf-test to v0.9.4" (#10015)
  .github/workflows/nf-test-gpu.yml
  .github/workflows/nf-test.yml
  .github/workflows/update-gpu-snapshot.yml
  .github/workflows/update-sentieon-snapshot.yml
Due: none

Remove unstable key
  modules/nf-core/isoseq/cluster/tests/main.nf.test
  modules/nf-core/isoseq/cluster/tests/main.nf.test.snap
Due: none

Linting cleanup of modules starting `H` (#10007)
  modules/nf-core/haplocheck/main.nf
  modules/nf-core/happy/ftxpy/main.nf
  modules/nf-core/happy/happy/main.nf
  modules/nf-core/happy/prepy/main.nf
  modules/nf-core/helitronscanner/draw/main.nf
  modules/nf-core/hicap/main.nf
  modules/nf-core/hicap/tests/main.nf.test
  modules/nf-core/hicap/tests/main.nf.test.snap
  modules/nf-core/hicexplorer/hicpca/main.nf
  modules/nf-core/hifiasm/main.nf
  modules/nf-core/hifitrimmer/processblast/main.nf
  modules/nf-core/hifitrimmer/processblast/tests/main.nf.test
  modules/nf-core/hlala/preparegraph/main.nf
  modules/nf-core/hmmer/hmmfetch/main.nf
  modules/nf-core/hmmer/hmmrank/main.nf
  modules/nf-core/homer/pos2bed/main.nf
  modules/nf-core/hostile/clean/main.nf
  modules/nf-core/hpsuissero/main.nf
  modules/nf-core/htsnimtools/vcfcheck/main.nf
Due: nextflow-lint

Broadcast version to topic and update tests
  modules/nf-core/deacon/filter/main.nf
  modules/nf-core/deacon/filter/meta.yml
  modules/nf-core/deacon/filter/tests/main.nf.test
  modules/nf-core/deacon/filter/tests/main.nf.test.snap
  modules/nf-core/deacon/index/main.nf
  modules/nf-core/deacon/index/meta.yml
  modules/nf-core/deacon/index/tests/main.nf.test
  modules/nf-core/deacon/index/tests/main.nf.test.snap
Due: nextflow-lint

Fix mistakes related to versions topic
  modules/nf-core/deacon/filter/main.nf
  modules/nf-core/deacon/filter/meta.yml
  modules/nf-core/deacon/filter/tests/main.nf.test
  modules/nf-core/deacon/filter/tests/main.nf.test.snap
  modules/nf-core/deacon/index/main.nf
  modules/nf-core/deacon/index/meta.yml
  modules/nf-core/deacon/index/tests/main.nf.test.snap
Due: nextflow-lint

Manually run pre-commit prettier hook
  modules/nf-core/deacon/filter/meta.yml
  modules/nf-core/deacon/index/meta.yml
Due: none

Fix linting errors
  modules/nf-core/deacon/filter/meta.yml
  modules/nf-core/deacon/index/meta.yml
Due: none

Remove incorrect contribution type
  modules/nf-core/deacon/filter/meta.yml
  modules/nf-core/deacon/index/meta.yml
Due: none

Update deacon to 0.13.2
  modules/nf-core/deacon/filter/environment.yml
  modules/nf-core/deacon/filter/main.nf
  modules/nf-core/deacon/index/environment.yml
  modules/nf-core/deacon/index/main.nf
Due: conda-env-sorter, nextflow-lint

Update subworkflows to use versions topic
  subworkflows/nf-core/fastq_decontaminate_deacon_hostile/main.nf
  subworkflows/nf-core/fastq_decontaminate_deacon_hostile/meta.yml
  subworkflows/nf-core/fastq_decontaminate_deacon_hostile/tests/main.nf.test
  subworkflows/nf-core/fastq_decontaminate_deacon_hostile/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_index_filter_deacon/main.nf
  subworkflows/nf-core/fastq_index_filter_deacon/meta.yml
  subworkflows/nf-core/fastq_index_filter_deacon/tests/main.nf.test
  subworkflows/nf-core/fastq_index_filter_deacon/tests/main.nf.test.snap
Due: nextflow-lint

Update overlooked subworkflow to versions topic
  subworkflows/nf-core/fastq_shortreads_preprocess_qc/main.nf
  subworkflows/nf-core/fastq_shortreads_preprocess_qc/tests/main.nf.test
  subworkflows/nf-core/fastq_shortreads_preprocess_qc/tests/main.nf.test.snap
Due: nextflow-lint

Revert redundant workflow tests for versions topic
  subworkflows/nf-core/fastq_decontaminate_deacon_hostile/tests/main.nf.test
  subworkflows/nf-core/fastq_decontaminate_deacon_hostile/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_index_filter_deacon/tests/main.nf.test
  subworkflows/nf-core/fastq_index_filter_deacon/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_shortreads_preprocess_qc/tests/main.nf.test
  subworkflows/nf-core/fastq_shortreads_preprocess_qc/tests/main.nf.test.snap
Due: none

Linting cleanup of modules starting `I` (#10008)
  modules/nf-core/ichorcna/run/main.nf
  modules/nf-core/icountmini/segment/main.nf
  modules/nf-core/igvreports/main.nf
  modules/nf-core/instrain/compare/main.nf
  modules/nf-core/instrain/profile/main.nf
  modules/nf-core/iphop/predict/main.nf
  modules/nf-core/iqtree/main.nf
  modules/nf-core/ismapper/environment.yml
  modules/nf-core/ismapper/main.nf
  modules/nf-core/isoseq/cluster/main.nf
  modules/nf-core/isoseq/cluster/tests/main.nf.test
  modules/nf-core/isoseq/cluster/tests/main.nf.test.snap
  modules/nf-core/isoseq/refine/main.nf
  modules/nf-core/isoseq/refine/tests/main.nf.test
  modules/nf-core/isoseq/refine/tests/main.nf.test.snap
  modules/nf-core/ivar/trim/main.nf
Due: conda-env-sorter, nextflow-lint

Update deacon to 0.13.2 and add versions topic (#9982)
  modules/nf-core/deacon/filter/environment.yml
  modules/nf-core/deacon/filter/main.nf
  modules/nf-core/deacon/filter/meta.yml
  modules/nf-core/deacon/filter/tests/main.nf.test
  modules/nf-core/deacon/filter/tests/main.nf.test.snap
  modules/nf-core/deacon/index/environment.yml
  modules/nf-core/deacon/index/main.nf
  modules/nf-core/deacon/index/meta.yml
  modules/nf-core/deacon/index/tests/main.nf.test
  modules/nf-core/deacon/index/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_decontaminate_deacon_hostile/main.nf
  subworkflows/nf-core/fastq_decontaminate_deacon_hostile/meta.yml
  subworkflows/nf-core/fastq_decontaminate_deacon_hostile/tests/main.nf.test
  subworkflows/nf-core/fastq_decontaminate_deacon_hostile/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_index_filter_deacon/main.nf
  subworkflows/nf-core/fastq_index_filter_deacon/meta.yml
  subworkflows/nf-core/fastq_index_filter_deacon/tests/main.nf.test
  subworkflows/nf-core/fastq_index_filter_deacon/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_shortreads_preprocess_qc/main.nf
  subworkflows/nf-core/fastq_shortreads_preprocess_qc/tests/main.nf.test.snap
Due: conda-env-sorter, nextflow-lint

Rename output emit for stainwarpy version
  modules/nf-core/stainwarpy/register/main.nf
Due: nextflow-lint

renamed output files, changed singularity container, bumped tool version
  modules/nf-core/stainwarpy/register/environment.yml
  modules/nf-core/stainwarpy/register/main.nf
  modules/nf-core/stainwarpy/register/meta.yml
  modules/nf-core/stainwarpy/register/tests/main.nf.test.snap
Due: conda-env-sorter, nextflow-lint

Apply suggestion from @SPPearce
  modules/nf-core/stainwarpy/register/main.nf
Due: nextflow-lint

add register after rebase
  modules/nf-core/stainwarpy/register/environment.yml
  modules/nf-core/stainwarpy/register/main.nf
  modules/nf-core/stainwarpy/register/meta.yml
  modules/nf-core/stainwarpy/register/tests/main.nf.test
  modules/nf-core/stainwarpy/register/tests/main.nf.test.snap
  modules/nf-core/stainwarpy/register/tests/nextflow.config
Due: conda-env-sorter, nextflow-lint

changed main.nf.test
  modules/nf-core/stainwarpy/register/tests/main.nf.test
  modules/nf-core/stainwarpy/register/tests/main.nf.test.snap
Due: none

Rename versions_stainwarpy_register to versions_stainwarpy
  modules/nf-core/stainwarpy/register/meta.yml
Due: none

Changed nf test
  modules/nf-core/stainwarpy/register/tests/main.nf.test.snap
Due: none

Add new module stainwarpy/register (#9777)
  modules/nf-core/stainwarpy/register/environment.yml
  modules/nf-core/stainwarpy/register/main.nf
  modules/nf-core/stainwarpy/register/meta.yml
  modules/nf-core/stainwarpy/register/tests/main.nf.test
  modules/nf-core/stainwarpy/register/tests/main.nf.test.snap
  modules/nf-core/stainwarpy/register/tests/nextflow.config
Due: conda-env-sorter, nextflow-lint

fix: Add meta map to CUSTOM_RSEMMERGECOUNTS
  modules/nf-core/custom/rsemmergecounts/main.nf
  modules/nf-core/custom/rsemmergecounts/meta.yml
  modules/nf-core/custom/rsemmergecounts/tests/main.nf.test
  modules/nf-core/custom/rsemmergecounts/tests/main.nf.test.snap
  subworkflows/nf-core/quantify_rsem/main.nf
  subworkflows/nf-core/quantify_rsem/meta.yml
  subworkflows/nf-core/quantify_rsem/tests/main.nf.test.snap
  subworkflows/nf-core/quantify_rsem/tests/nextflow.config
  subworkflows/nf-core/quantify_rsem/tests/nextflow_fastq.config
Due: nextflow-lint

Update modules/nf-core/stainwarpy/transformsegmask/main.nf
  modules/nf-core/stainwarpy/transformsegmask/main.nf
Due: nextflow-lint

changed main.nf.test
  modules/nf-core/stainwarpy/transformsegmask/tests/main.nf.test
Due: none

Changed nf test
  modules/nf-core/stainwarpy/transformsegmask/tests/main.nf.test.snap
Due: none

renamed output files, changed link for singularity container, bumped tool version
  modules/nf-core/stainwarpy/transformsegmask/environment.yml
  modules/nf-core/stainwarpy/transformsegmask/main.nf
  modules/nf-core/stainwarpy/transformsegmask/meta.yml
  modules/nf-core/stainwarpy/transformsegmask/tests/main.nf.test.snap
Due: conda-env-sorter, nextflow-lint

Rename versions_stainwarpy_transformsegmask to versions_stainwarpy
  modules/nf-core/stainwarpy/transformsegmask/meta.yml
Due: none

Path conditions:
  conda-env-sorter: any of: environment and \.(yaml|yml)$
  nextflow-lint: any of: \.nf$|nextflow\.config$
